nav.navbar {
    padding: 20px 50px 15px 25px;
    background-color: white;
    opacity: 0.96;
}
h3.total_title {
    color: rgb(229, 13, 40);
}
h3.title {
    color: rgb(41, 101, 168);
    position: center;
}
div.header {
    padding-bottom: 75px;
}
div.jumbotron {
    padding-top: 50px;
    background-color: white;
}
div.jumbotron_bg {
    padding: 50px 50px 20px 50px;
    border-radius: 5px;
    background-image: url(http://bikesherpa.com.s3.amazonaws.com/img/Tour/620x/db6d22ca7a9f8843834fd11458ebddd9.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div.board_container {
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}
div.board {
    padding: 10px 25px 20px 45px;
    background: white;
    background-size: 50% 50%;
    border-radius: 5px;
}
td {
    padding-right: 50px;
}
td.last {
    padding-right: 0px;
}
th {
    padding-right: 20px;
}
th.rank {
    color: rgb(41, 101, 168);
}
