{% extends "base.html" %}
{% block body %}
    <div class="jumbotron_bg"> 
        <div class="jumbotron">
            <h1 align="center">Model Methodology</h1>
            <p class="lead">By looking at a subset of the segments in Strava's database the model underlying StravaBoards demonstrates the power that Singular Value Decomposition has in finding latent information in sparsely populated datasets.</p>
            </p>
        </div>
    </div>
    <br> </br> 
    <br> </br> 
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Data Collection</h4>
            <p>Using Strava's API and effort explorer in their online dashboard, all historical efforts from a selection of over 100 high traffic, non-commuter, segments were collected to make up a test effort database of nearly 2 million efforts by over 32,000 unique riders.</p>

            <h4>Model Selection</h4>
            <p>Given that a full matrix of athlete-segment efforts would be rather sparse and that the nature of the data necessitates an unsupervised model, using singular value decomposition to uncover latent qualities of athlete ability and segment difficulty.</p>

            <h4>Leaderboard Production</h4>
            <p>Due to the nature of singular value decomposition, the orientation of the ratings for both the segment heinousboards and the athlete leaderboards must be determined and scaled properly so that they lie on an intuitive 0-100 scale.</p>
        </div>

        <div class="col-lg-6">
            <h4>EDA</h4>
            <p>With an effort database approximately 1.5 GB in size, a more powerful hardware was required to inspect the dataset. After setting up a compute optimized AWS EC2 instance that would allow me to inspect my data in Python Pandas.</p>

            <h4>Model Building</h4>
            <p>By using a state of the art matrix decomposition library in Dato's recommender engine the model considers, both, segments of all types and those with a positive and negative overall grade, uphill and downhill respectively, to decompose non-dense data into matrices of with a single latent feature corresponding with difficulty for segments and skill for athletes.</p>

            <h4>Things and Stuff</h4>
            <p>What could be better than things and stuff?</p>
        </div>
    </div>
{% endblock %}

