{% extends "base.html" %}
{% block body %}
    <h1 align="center">Most Difficult Segments</h1>
    <br> </br>

    <div class="jumbotron_bg container">
        {% for diffboard, name in diffboards_and_names %}
        <div class="board_container">
            <div class="board well">
                {% if 'Total' in name %}
                <h3 class="total_title"> {{ name }} </h3>
                {% else %} 
                <h3 class="title"> {{ name }} </h3>
                {% endif %}
                <table>
                    <thead>
                        <th>Rank</th>
                        <th>Segment</th>
                        <th>Rating</th>
                    </thead>

                    <tbody>
                        {% for row in diffboard %}
                        <tr>
                            <th class='rank'> {{ row[0] }} </th>
                            <td>
                                <a href="https://www.strava.com/segments/{{ row[1] }}">
                                    {{ row[1] }}
                                </a> 
                            </td>
                            <td class='last'> {{ row[2] }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
