<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            div.leaderboard {
                float: left;
                padding-right: 50px;
            }
            td {
                padding-right: 20px;
            }
        </style>
        <title>Leaderboards</title>
    </head>

    <body>
        {% for leaderboard, name in leaderboards_and_names %}
        <div class="leaderboard">
            <h1> {{ name }} Leaderboard </h1>
            <table>
                <thead>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Rating</th>
                </thead>

                <tbody>
                    {% for row in leaderboard %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </body>
</html>
